@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?aa5x25');
  src:  url('fonts/icomoon.eot?aa5x25#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?aa5x25') format('truetype'),
    url('fonts/icomoon.woff?aa5x25') format('woff'),
    url('fonts/icomoon.svg?aa5x25#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Ico-View:before {
  content: "\e900";
}
.icon-Ico-Skills:before {
  content: "\e902";
}
.icon-Ico-Home:before {
  content: "\e903";
}
.icon-Ico-Contact:before {
  content: "\e904";
}
.icon-Ico-About:before {
  content: "\e906";
}
.icon-github:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e905";
}
.icon-free-code-camp:before {
  content: "\f2c5";
}


* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Titillium Web', sans-serif;
  background: rgb(39, 39, 39);
  position: relative;
  font-size: 16px;
}

nav {
  position: fixed;
  width: 60px;
  height: 100vh;
  background: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#logo {
  width: 100%;
  background: rgb(51,241,232); 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}
#logo img {width: 25px; padding: 5px 0;}
#socialLink {width: 100%; position: absolute; bottom: 0; box-sizing: border-box;}
#link > ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#socialLink > ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#link li {
  list-style: none;
  padding: 15px 0;
}
#link li a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(102, 101, 101);
}
#socialLink li { padding: 5px 0; }
#socialLink li, a {
  list-style: none;
  text-decoration: none;
  font-size: 1.1em;
}
li a:hover {
  color: rgb(51, 241, 232);
}
#link .active {
  color: rgb(51, 241, 232);
}
.ico {
  font-size: 1.3em;
  font-weight: 600;
}
.icoS {
  font-size: 1em;
  color: rgb(102, 101, 101);
}
.icoS:hover {
  font-size: 1.02em;
  color: rgb(51, 241, 232);
  
}

/* Section Body */


section {
  margin-left: 60px;
  height: 100vh;
}

  /* Global */

.spacer {display: none;}

.main {
  background: rgb(39, 39, 39);
  color: rgb(51, 241, 232);
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}
.main .content {
  margin: 0 0 0 9%;
  z-index: 1;
}
#Home .main .content h1 {
  font-size: 4em;
  line-height: 70px;
  color: #fff;
}
#Home .main .content p { font-size: 1em; letter-spacing: 5px; }
.shades {
  font-family: 'Kalam', cursive;
  color: rgb(102, 101, 101);
  font-style: italic;
  font-size: 1em;
}
.bOt { position: absolute; left: 3%; top: 5%;}
.bOb { position: absolute; left: 3%; bottom: 5%; }
.bIt { position: absolute; left: 5%; top: 8%; }
.bIb { position: absolute; left: 5%; bottom: 8%; }
.iBt, .iBb { margin-left: 7%;}

.imgMain {
  position: absolute;
  top: 50%;
  margin-top: -222px;
  width: 250px;
  left: 70%;
  margin-left: -125px;
}
#Home .content a {
  margin: 0;
  text-decoration: none;
  letter-spacing: .5em;
  font-size: .7em;
  padding: 5px;
  width: 100px; height: 20px;
  border: 2px solid rgb(51, 242, 232);
  color: rgb(51, 242, 232);
  border-radius: 5px;
}
#Home .content a:hover {
  color: rgb(39,39,39);
  background: rgb(51, 241, 232);
}
#Home .content a,
#Home .content a:hover,
#Home .content a:active,
#Home .content a:visited {
  outline: none !important;
}

/* About Me */
.main .content { width: 45%; padding: 20px; box-sizing: border-box; }
.main .content h1 {
  font-size: 4em; 
}
.main .content p {
  font-size: 1em; 
  color: #fff;
  letter-spacing: .02em;
  line-height: 20px;
}

.cs {
  color: rgb(102, 101, 101);
}

/* FORM STYLES */
.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}

.contact form .full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:.4em;
  border:1px solid #c9e6ff;
}

.contact form .formBtn{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
}

.contact form .formBtn:hover,.contact form button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}


#projList {
	padding-left: 20px;
}
#projList a {
	color: aliceblue;
}
#projList a:hover {
	color: rgb(51, 241, 232);
}


/* Responsive media queries */
/* iPad 768px width */
@media screen and (max-width: 768px) {
  #Home .main .content h1 {
    font-size: 3.5em;
  }
  .main .content h1 {
    font-size: 3.5em;
  }
  .imgMain {
    position: absolute;
    top: 50%;
    margin-top: -168.5px;
    width: 200px;
    left: 70%;
    margin-left: -60px;
  }
  .main .content {width: 80%;}
}

/* iPhone 8plus 414px width */
@media screen and (max-width: 415px){
  
  nav {
    position: fixed;
    margin: 0;
    left: 0; top: 0;
    width: 100%;
    height: 7vh;
    z-index: 2;
  }
  #link {margin-left: 50px;}
  .spacer {
    display: block;
     width: 100%;
    height: 6.8vh;
    
  }
  #logo > img {

  }
  #logo {
    height: 7vh;
    width: 50px;
  }
  #link > ul {
    /* height: 100%; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .ico {
    font-size: 1em;
  }
  section, .main {
    /* margin-top: 7vh; */
    margin-left: 0;
    width: 100%;
    height: 93vh;
  }
  #socialLink {
    visibility: hidden;
  }
  .home .main .content h1 {
    line-height: 40px;
    font-size: 2.2em;
    width: 100%;
    color: #fff;
    
  }
  .main .content h1 {
    font-size: 2em;
  }
  .main .content>p {
    font-size: .75em;
    letter-spacing: .03em;
    line-height: 15px;
  }
  .imgMain {
    position: absolute;
    top: 50%;
    /* margin-top: -158.5px; */
    width: 200px;
    left: 50%;
    margin-left: -100px;
  }
  .main .content {width: 90%;}
  
 
}