@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?aa5x25');
  src:  url('fonts/icomoon.eot?aa5x25#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?aa5x25') format('truetype'),
    url('fonts/icomoon.woff?aa5x25') format('woff'),
    url('fonts/icomoon.svg?aa5x25#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Ico-View:before {
  content: "\e900";
}
.icon-Ico-Skills:before {
  content: "\e902";
}
.icon-Ico-Home:before {
  content: "\e903";
}
.icon-Ico-Contact:before {
  content: "\e904";
}
.icon-Ico-About:before {
  content: "\e906";
}
.icon-github:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e905";
}
.icon-free-code-camp:before {
  content: "\f2c5";
}


* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Titillium Web', sans-serif;
  background: rgb(51, 241, 232);
  position: relative;
  font-size: 16px;
}
nav {
  position: fixed;
  width: 60px;
  height: 100vh;
  background: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#logo {
  width: 100%;
  background: rgb(51,241,232); 
  border: 1px solid rgb(22,22,22);
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5px 0; */
  position: absolute;
  top: 0;
  /* left: 0;
  margin: 0; */
  box-sizing: border-box;
}
#logo img {height: 55px; padding: 5px 0;}
#link {width: 100%;}
#socialLink {width: 100%; position: absolute; bottom: 0;}
#link > ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#socialLink > ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
li, a {
  list-style: none;
  padding: 15px 0;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(102, 101, 101);
}
li a:hover {
  color: rgb(51, 241, 232);
}
.active {
  color: rgb(51, 241, 232);
}
.ico {
  font-size: 1.7em;
  font-weight: 600;
}
.icoS {
  font-size: 1em;
  color: rgb(102, 101, 101);
}
.icoS:hover {
  font-size: 1.02em;
  color: rgb(51, 241, 232);
  
}

/* Section Body */


section {
  margin-left: 60px;
  height: 100vh;
  
  
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
}
.main {
  background: rgb(39, 39, 39);
  color: rgb(51, 241, 232);
  position: relative;
  left: 10;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}
.main .content {
  margin: 1% 0 1% 9%;
  font-size: 2.5em;
  z-index: 1;
}
.main .content h1 {
  line-height: 60px;
  color: #fff;
}
.main .content p { font-size: .4em; letter-spacing: 5px; }
.shades {
  font-family: 'Kalam', cursive;
  color: rgb(102, 101, 101);
  font-style: italic;
  font-size: 1em;
}
.bOt { position: absolute; left: 3%; top: 5%;}
.bOb { position: absolute; left: 3%; bottom: 5%; }
.bIt { position: absolute; left: 5%; top: 8%; }
.bIb { position: absolute; left: 5%; bottom: 8%; }
.iBt, .iBb { margin-left: 7%;}

.imgMain {
  position: absolute;
  top: 150px;
  width: 300px;
  left: 70%;
  margin-left: -150px;
}








/* @media screen and (max-width: 480px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .main-secs {
    background: #272727;
    width: 90%;
    height: 40vh;
    color: rgb(51, 241, 232);
    padding: 10px;
    box-sizing: border-box;
  }
  .main-left {
    width: 90%;
    font-size: 1.5em;
    font-weight: bold;
    height: 40vh;
    box-sizing: border-box;
  }
} */